# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo


# lc0
*.pb
*.gz

# Data
!tests/fixtures/*.jsonl

# OS
.DS_Store
Thumbs.db

# Misc
.env
